<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fivenine.sharebutter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ShareButterApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_gift"
        android:roundIcon="@mipmap/ic_gift"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Home.FilteredCategoryActivity"></activity>
        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".RecordActivity.HistoryActivity" />
        <activity android:name=".Rating.RatingActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhOa94kkDTi4qhGvBt_FfSbMNl22QLC_8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".RecordActivity.OfferRecordsActivity" />
        <activity android:name=".Exchange.ConfirmationActivity" />
        <activity android:name=".Exchange.TraderExistingOffers" />
        <activity android:name=".Message.MakeOfferActivity" />
        <activity android:name=".Home.ItemInfoActivity" />
        <activity android:name=".Authentication.ForgetPasswordActivity" />
        <activity android:name=".Authentication.SignUpActivity" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".Home.CategoriesActivity" />
        <activity android:name=".Home.SearchActivity" />
        <activity
            android:name=".Home.SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile.ProfileActivity" />
        <activity
            android:name=".AddOffer.AddOfferActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Message.MessageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Location.LocationActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>